<div class="card" style="width: 19rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <select id="template" class="form-select form-select-sm" aria-label="Default select example" onchange="updateStatusSelect('template')">
            <option value="1"selected>Todo</option>
            <option value="2">In Progress</option>
            <option value="3">Done</option>
          </select>
        </div>
        <div class="col-5">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Story Points</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col" style="padding-top: 5px; margin-bottom: 5px;">
          Create Login Page
        </div>
      </div>
        <div class="row">
            <div class="col">
                <p class="fw-lighter" style="margin: 0;">Assigned to: Jacob Wall</p>
            </div>
        </div>
    </div>
</div>